@media screen and (max-width:1200px) {
    
    .menu {
        display: block; /* Display the menu icon */
    }
    
    ul {
        display: none; /* Hide the navigation links */
    }
    
    /* ul.active {
        display: flex; /* Show the navigation links when the menu is active 
    } */
}